@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d4f1f4; /* Baby Blue */
  --foreground: #171717; /* 保持文字顏色不變 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #05445e; /* Navy Blue */
    --foreground: #ededed; /* 保持文字顏色不變 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 使用 @layer utilities 添加文本平衡功能 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
